<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Hello <%=name %></h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis natus adipisci, dolores laboriosam ut porro. Dolore possimus ea, inventore rem autem doloremque, accusamus totam odit, exercitationem id doloribus tempora facere.
        </p>
        <p style="border-radius: 5px; background-color: orange; padding: 10px;">
            <%=numbers%>
        </p>

        <% if(name == "Obai"){ %>
            <div>
                Name is Obai
            </div>
        <% } %>
    </body>
</html>